.favourite-books-container {
 width: 90%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 padding: 0;
 gap: 1.5rem .5rem;
 padding-top: 1rem;
}

.favourite-books,
.favourite-books-loader {
 width: 6.8rem;
 height: auto;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: .6rem 0;
}

.favourite-books > div,
.favourite-books-loader > div {
 width: 100%;
 height: 11rem;
 background-color: var(--shade);
 border-radius: .8rem;
}

.favourite-books > p,
.favourite-books-loader > p {
 width: 90%;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 font-size: .9rem;
 text-align: center;
 text-overflow: ellipsis;
 overflow: hidden;
}
.favourite-books-loader > p {
 height: 1.4rem;
 background-color: var(--shade);
 opacity: .8;
}

.favourite-books-loader {
 animation: dim 1s linear infinite;
}


.clicked-book-modal-wrapper {
 width: 100%;
 height: 100vh;
 position: fixed;
 bottom: 0;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 background-color: rgba(255, 255, 255, 0.020);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 z-index: 20;
}

.clicked-book-modal {
 width: 90%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-inline: 5%;
 padding-top: 1rem;
 padding-bottom: 6rem;
 background-color: var(--shade);
 border-top: .1rem solid var(--bg-color);
 border-top-left-radius: 1.6rem;
 border-top-right-radius: 1.6rem;
 z-index: 22;
}

.clicked-book-modal > div {
 width: 100%;
 height: 12rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 1rem;
}

.clicked-book-modal button {
 width: 100%;
 height: 3.3rem;
 color: white;
 background-color: red;
 border: .1rem solid red;
 border-radius: .8rem;
 margin-top: .8rem;
}
.clicked-book-modal button span {
 margin-top: .3rem;
 margin-right: .5rem;
}

.clicked-book-img {
 width: 8.5rem;
 height: 10.5rem;
 background-color: var(--bg-color);
 border-radius: .8rem;
}


.clicked-book-info {
 display: flex;
 flex-direction: column;
 gap: .5rem;
}

.clicked-book-info h3 {
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
 overflow: hidden;
 text-overflow: ellipsis;
}

.clicked-book-info div {
 width: 3rem;
 font-size: .8rem;
 padding: .5rem 1rem;
 background-color: var(--bg-color);
 border-radius: 2rem;
 margin-top: .5rem;
}

.clicked-book-info button {
 width: 8rem;
 height: 2.5rem;
 background-color: var(--sclr);
 border: .1rem solid var(--sclr);
 border-radius: .8rem;
}





@media (min-width: 726px) {
 .favourite-books-container {
  width: 90%;
  height: calc(100vh - 8rem);
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  grid-template-columns: repeat(auto-fit, 8rem);
  grid-gap: 1rem 1.5rem;
  padding: 6rem 0 6rem 0;
  justify-content: center;
  overflow-y: auto;
 }
 
 .favourite-books {
  width: 100%;
  margin-bottom: .8rem;
 }
 .favourite-books > div {
  height: 10rem;
 }
 
 
 .clicked-book-modal-wrapper {
  width: 80%;
 }
 .clicked-book-modal {
  padding-bottom: 1rem;
 }
 .clicked-book-modal > div {
  justify-content: flex-start;
 }
}