/*** Home top bar styling starts here ***/
.home-topbar {
  width: 88vw;
  height: 4rem;
  list-style: none;
  margin: .6rem 0 1.5rem 0;
}
.home-topbar li {
  height: 100%;
}

.home-topbar > li:last-of-type > div {
  width: 2rem;
  height: 2.1rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-left: 1.4rem;
  
  & img {
   width: 2rem;
   height: 2.1rem;
   object-fit: cover;
   border-radius: 50%;
  }
}

.home-topbar-icon {
  width: 2rem;
  height: 2rem;
}
/*** Home top bar styling ends here ***/



/*** Recommendation section tyling starts here ***/
 .recommendation-section h2 {
  align-self: flex-start;
  margin-bottom: 1rem;
 }
 
.recommendation-box {
  width: 100%;
  height: 18rem;
  background-color: var(--shade);
  border-radius: 1.4rem;
}
/*** Recommendation section styling ends here ***/




/*** Categories section styling starts here ***/
 .categories-section {
  margin-top: 2rem;
 }
 
.mySwiper {
  width: 100%;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide {
  width: 12rem;
  height: 16.5rem;
  background-color: var(--shade);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
}

.tabs {
 width: 100%;
 height: 4rem;
 gap: 1rem;
 overflow-x: auto;
 margin-top: 1rem;
}

.tabs button {
 width: auto;
 min-width: 6rem;
 height: 2.5rem;
 color: var(--text-color);
 font-family: Nunito;
 background-color: transparent;
 border: none;
 border-radius: .8rem;
}