.book-info-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 3rem;
 gap: 1.5rem;
 transform-style: preserve-3d;
 perspective: 800px;
}

.book-info-img-wrapper {
 width: 13.5rem;
 height: 18.5rem;
 position: relative;
 border-radius: 1rem;
 
 & img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
 }
}


.book-brief {
 width: 100%;
 text-align: center;
}

.book-brief > h2,
.book-brief > p {
 width: 13rem;
 margin: .3rem 0;
}

.book-brief .star-rating {
 letter-spacing: .5rem;
}
.book-brief span {
 letter-spacing: normal;
 margin: 0 .5rem;
}

.book-brief .author-name {
 filter: opacity(0.6);
}

.quick-info {
 width: 90%;
 height: 4.5rem;
 padding: 0 5%;
 gap: .2rem;
 background-color: var(--shade);
 border-radius: 1rem;
 margin-top: 1rem;
}

.quick-info > div {
 height: 70%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
 border-right: 0.070rem solid var(--bg-color);
}
.quick-info > div:last-of-type {
 border: none;
}

.book-about {
 width: 90%;
 height: auto;
 padding: 1rem 5%;
 background-color: var(--shade);
 border-radius: 1rem;
}

.book-about p {
 text-align: center;
}