.book-info-section {
 width: 90%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 3rem 6% 0 6%;
 gap: 1.5rem;
 margin-bottom: 6rem;
}

.book-main-info {
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
 margin-top: 1.5rem;
}

.book-meta-data {
 width: 100%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
}

.book-info-img-wrapper {
 width: 65%;
 height: 18.5rem;
 position: relative;
 border: 0.1rem solid var(--shade);
 border-radius: 1rem;
 
 & img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
 }
}

.book-info-section .action-tab {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  
  & a,
  & button {
   width: 100%;
   height: 3rem;
   color: rgb(255, 255, 254);
   text-decoration: none;
   font-family: 'Nunito Sans';
   font-size: 1rem;
   background-color: var(--sclr);
   border: none;
   border-radius: .6rem;
  }
  
  & button {
   background-color: var(--sclr2);
  }
  
  & span {
   margin: .3rem 0 0 .4rem;
  }
}


.book-meta-data .star-rating {
 letter-spacing: .3rem;
}
.book-meta-data span {
 letter-spacing: normal;
 margin: 0 .5rem;
}
.book-meta-data .author-name {
 filter: opacity(0.6);
}

.quick-info {
 width: 100%;
 min-height: 4.5rem;
 flex-wrap: wrap;
 padding: 0 5%;
 gap: 1rem .2rem;
 background-color: var(--shade);
 border-radius: 1rem;
 margin-top: 1rem;
}

.quick-info > div {
 height: 70%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.book-about {
 width: 100%;
 height: auto;
 padding: 0 5% 1.5rem 5%;
 background-color: var(--shade);
 border-radius: 1rem;
}

.book-about h3 {
 margin: 1.4rem 0 .6rem 0;
}

.book-about p {
 text-align: center;
 word-break: break-word;
}


.book-about .subjects-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) transparent;
}

.book-about .subjects-wrapper div {
  flex: 0 0 auto; 
  height: 2rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--bg-color);
  border-radius: 0.8rem;
  white-space: nowrap; 
}


/* Responsive Design */
@media (min-width: 726px) {
 .top-bar {
   width: 85%;
   right: 0;
 }

 .book-overview {
   width: 90%;
   height: calc(100vh - 2rem);
   overflow-y: auto;
   margin-top: 4rem;
 }
 
 .book-main-info {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
 }
}