/* General Section */
section {
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-inline: 5%;
}

/* Search Bar */
.search-bar {
 width: 92%;
 height: 4rem;
 position: absolute;
 padding: 0.5rem 4%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: var(--bg-color);
 border-bottom: 0.1rem solid var(--shade);
 z-index: 10;
}

/* Search Icon */
.search-bar > span {
 width: 3rem;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 cursor: pointer;
}

/* Search Box */
.search-box {
 width: 90.8%;
 height: 2.9rem;
 display: flex;
 align-items: center;
 padding: 0 1rem;
 background-color: var(--shade);
 border: 0.1rem solid var(--shade);
 border-radius: 3rem;
 position: relative;
 transition: 200ms ease-in-out;
}

.search-box:hover {
 background-color: var(--bg-color);
}

/* Search Input */
.search-box input {
 width: 100%;
 height: 100%;
 background-color: transparent;
 border: none;
 outline: none;
 font-size: 0.9rem;
 font-family: 'Nunito Sans', Sans-Serif;
 color: var(--text-color);
 padding-right: 2.5rem;
 z-index: 5;
}

/* Search Button */
.search-box span {
 width: 2rem;
 height: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 right: 1rem;
 border-radius: 50%;
 cursor: pointer;
 z-index: 8;
 margin-top: -0.2rem;
}

/* Recently Searched Terms */
.searched-terms-box {
 width: 100%;
 height: 2.4rem;
 display: flex;
 flex-direction: column;
 padding: 0 5%;
 border-bottom: 0.080rem solid var(--shade);
 margin-top: 4.5rem;
 transition: 0.3s ease-in-out;
 overflow: hidden;
}

.searched-terms-box.expanded {
 height: auto;
 max-height: 30rem;
 overflow: visible;
}

/* Animation for Search Terms */
.searched-terms {
 opacity: 0;
 transform: translateY(-10px);
 transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
 pointer-events: none;
}

.searched-terms-box.expanded .searched-terms {
 opacity: 1;
 transform: translateY(0);
 pointer-events: auto;
}

/* Styling for Searched Terms List */
.searched-terms-box.expanded .searched-terms {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 0.9rem;
 gap: 0.4rem;
 list-style: none;
 padding-bottom: 1rem;
 margin-top: 1rem;
 transition: 0.3s ease-in-out;
}

/* Toggle Button for Showing Terms */
.show-searched-terms {
 width: 100%;
 text-transform: uppercase;
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;
}

/* Individual Search Term */
.searched-terms li {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
 border-radius: 0.5rem;
}

.searched-terms li p {
 flex-grow: 1;
 filter: opacity(0.6);
 background-color: transparent;
 margin: 0;
 padding: 0;
 text-align: left;
}

/* Remove Single Search Term */
.remove-button {
 width: 1.2rem;
 height: 1.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--text-color);
 background-color: var(--shade);
 border-radius: 50%;
 cursor: pointer;
 border: none;
 outline: none;
 transition: 0.2s ease-in-out;
}

/* Clear All Button */
.searched-terms-box > button {
 align-self: center;
 height: 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--text-color);
 font-family: 'Nunito Sans', Sans-Serif;
 font-size: 1.1rem;
 font-weight: 800;
 background-color: transparent;
 border: none;
 visibility: hidden;
 opacity: 0;
 margin-bottom: .5rem;
 transition: opacity 0.3s ease, visibility 0.3s ease;
}

.searched-terms-box.expanded > button {
 visibility: visible;
  opacity: 1;
}

/* Clear Button Icon */
.searched-terms-box button span {
 width: 1.2rem;
 height: 1.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--shade);
 border-radius: 50%;
 margin-left: 0.5rem;
}

/* Search Results */
.search-result {
 width: 98%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 margin-block: 1rem;
}




/* Responsive Design */
@media (min-width: 726px) {
 .search-bar {
   width: 75%;
   right: 0;
 }

 .searched-terms-box {
   width: 97%;
   margin-top: 5rem;
   margin-bottom: 1rem;
 }

 .search-result {
   width: 100%;
   height: calc(100vh - 10rem);
   overflow-y: auto;
 }
}