section {
  width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-inline: 5%;
}
.search-bar {
 width: 92%; 
 height: 4rem;
 position: absolute;
 padding: .5rem 4%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: var(--bg-color);
 border-bottom: 0.1rem solid var(--shade);
 z-index: 10;
}

.search-bar > span {
 width: 3rem;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 cursor: pointer;
}

.search-box {
 width: 80.8%;
 height: 2.9rem;
 display: flex;
 align-items: center;
 padding: 0 1rem;
 background-color: var(--shade);
 border: 0.1rem solid var(--shade);
 border-radius: 3rem;
 position: relative;
 transition: 200ms ease-in-out;
}
.search-box:hover {
 background-color: var(--bg-color);
}

.search-box input {
 width: 100%;
 height: 100%;
 background-color: transparent;
 border: none;
 outline: none; 
 font-size: .9rem;
 font-family: 'Nunito Sans', Sans-Serif;
 color: var(--text-color);
 padding-right: 2.5rem;
 z-index: 5;
}

.search-box span {
 width: 2rem;
 height: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 right: 1rem;
 border-radius: 50%;
 cursor: pointer;
 z-index: 8;
 margin-top: -0.2rem;
}

.searched-terms-box {
 width: 100%;
 height: 2.4rem;
 display: flex;
 flex-direction: column;
 padding: 0 5%;
 border-bottom: 0.080rem solid var(--shade);
 margin-top: 4.5rem;
 transition: 200ms;
 overflow: hidden;
}

.show-searched-terms {
 width: 100%;
 text-transform: uppercase;
}

.searched-terms {
 width: 100%;
 min-height: 4rem;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: .9rem;
 gap: .4rem;
 list-style: none;
 margin-top: 1rem;
}

.searched-terms li {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 1rem;
 border-radius: 0.5rem;
}

.searched-terms li p {
 flex-grow: 1;
 filter: opacity(0.6);
 background-color: transparent;
 margin: 0;
 padding: 0;
 text-align: left;
}

.remove-button {
 width: 1.2rem;
 height: 1.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--text-color);
 background-color: var(--shade);
 border-radius: 50%;
 cursor: pointer;
 border: none;
 outline: none;
 transition: 0.2s ease-in-out;
}


.searched-terms-box > button {
 align-self: center;
 width: auto;
 height: auto; 
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--text-color);
 font-family: 'Nunito Sans', Sans-Serif;
 font-size: 1.1rem;
 font-weight: 800;
 background-color: transparent;
 border: none;
 margin: .8rem 0;
}

.searched-terms-box button span {
 width: 1.2rem;
 height: 1.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--shade);
 border-radius: 50%;
 margin-left: 0.5rem;
}

.search-result {
 width: 95%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-block: 1rem 3rem;
}



@media (min-width: 726px) {
 .search-bar {
  width: 75%;
  right: 0;
 }
 
 .searched-terms-box {
  height: 10rem;
  margin-top: 5rem;
  z-index: 50;
 }
 
 .search-result {
  width: 100%;
  height: 60%;
  display: flex;
 flex-direction: column;
 align-items: center;
  align-self: flex-end;
  background-color: green;
 }
}