.edit-section {
 width: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1rem 5%;
}

.setting-user-modal {
 width: 94%;
 display: flex;
 flex-direction: column;
 padding: .8rem 3%;
 gap: 1rem;
 background-color: var(--shade);
 border-radius: 1rem;
}
.setting-user-modal > div {
 width: 94%;
 display: flex;
 align-items: center;
 padding: .8rem 3%;
 background-color: var(--bg-color);
 border-radius: 1rem;
 margin-top: .8rem;
}
.setting-user-modal .dp {
 width: 3rem;
 height: 3rem;
 background-color: var(--shade);
 border-radius: 50%;
 margin-right: .5rem;
}

.setting-user-modal > .unverified-bar {
 padding: .6rem 2.8%;
 background-color: rgba(250, 250, 0, .3);
 border: .050rem solid rgb(240, 240, 0);
 margin-top: -.3rem;
}
.setting-user-modal > .verified-bar {
 padding: .6rem 2.8%;
 background-color: rgba(0, 200, 0, .3);
 border: .050rem solid rgb(0, 240, 0);
 margin-top: -.3rem;
}

.setting-genres {
 width: 100%;
 display: flex;
 align-items: center;
 white-space: nowrap;
 gap: .5rem;
 overflow-x: auto;
 margin-top: .8rem;
}
.setting-genres > div {
 width: auto;
 height: 2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: .8rem;
 padding-inline: 1rem;
 border: .080rem solid var(--bg-color);
 border-radius: .6rem;
}
.setting-genres > div button {
 color: red;
 background-color: transparent;
 border: none;
 margin-bottom: -.2rem;
}

.actions-container {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 list-style: none;
 margin-top: 2rem;
}

.actions-container > li {
 width: 100%;
 height: 4rem;
 display: flex;
 align-items: center;
 padding-bottom: .7rem;
 border-bottom: .060rem solid var(--shade);
}

.actions-container > li span {
 width: 3.2rem;
 height: 3.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(64, 90, 255, .050);
 border-radius: 50%;
 margin-right: 1rem;
}

.actions-container > li:last-of-type span {
 background-color: rgba(255, 0, 0, .050);
}

.current-action-modal-wrapper {
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
 background-color: rgba(255, 255, 255, .010);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 z-index: 10;
}

.current-action-modal-wrapper + form {
 width: 90%;
 position: fixed;
 bottom: 0;
 display: flex;
 flex-direction: column;
 padding: 1.2rem 5%;
 padding-bottom: 6rem;
 background-color: var(--shade);
 border-top: .1rem solid var(--bg-color);
 border-top-left-radius: 1.2rem;
 border-top-right-radius: 1.2rem;
 z-index: 12;
}

.current-action-modal-wrapper + form > h2 {
 margin-bottom: .5rem;
}

.new-data-input {
 width: 92%;
 height: 3.5rem;
 padding-inline: 4%;
 background-color: transparent;
 border: .080rem solid var(--bg-color);
 border-radius: .8rem;
 margin-block: 1.5rem;
}
.save-data-btn,
.disabled-btn {
 width: 100%;
 height: 3.5rem;
 color: rgb(245, 245, 245);
 background-color: var(--sclr);
 border: none;
 border-radius: .8rem;
}
.disabled-btn {
 background-color: rgb(100, 100, 100);
}

.signout-buttons {
 margin-top: 1rem;
}
.signout-buttons > button {
 height: 3.5rem;
 color: rgb(245, 245, 245);
 padding-inline: 1rem;
 background-color: var(--sclr);
 border: none;
 border-radius: .6rem;
}
.signout-buttons > button:first-of-type {
 background-color: rgb(220, 0, 0);
 margin-right: 1rem;
}




@media (min-width: 726px) {
 .setting-user-modal {
  margin-top: 4rem;
 }
 
 .current-action-modal-wrapper {
  width: 84vw;
  right: 0;
 }
 .current-action-modal-wrapper + form {
  width: 74vw;
  right: 0;
  padding-bottom: 1rem;
 }
}